a {
  color: blue;
}

div.grid_space {
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
}

div#grid {
  width: 1100px;
}

div.grass {
  background-image: url('/images/terrain/grass.jpg');
}

div.water {
  background-image: url('/images/terrain/water.jpg');
}

div.border { 
  background-image: url('/images/terrain/mountain.jpg');
}

a.disabled {
  opacity: .25;
  cursor: default;
}

img.unit {
  width: 50px;
  margin-top: 15px;
}